@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url('https://images.pexels.com/photos/4069290/pexels-photo-4069290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

  /* the position is adjusted to achieve the feature that no other element get effected. */
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
}
